tsconfig.tsbuildinfo
package-lock.json
.yarn
.yarnrc.yml
yarn.lock
.pnp.js
.vscode
dist-experiment/
.ts-monorepo
build/
tsconfig.json
package.json
!dist-safe/package.json
bundle/
stable/